<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SpringMVCApp</title>
    <link th:href="@{/resources/styles.css}" rel="stylesheet" type="text/css">

</head>
<body>
<h1>All registered patients</h1>

<div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Email</th>
            <th>Tel</th>
            <th>HealthCard Num</th>
            <th>Family Doctor</th>
        </tr>
        </thead>
    </table>
</div>
<div class="tbl-content">
    <div th:each="person : ${people}">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
            <tr >
                <td><a th:href="@{/people/{id}(id=${person.getId()})}"
                       th:text="${person.getId()}">user</a></td>
                <td><p th:text="${person.getName()}" ></p></td>
                <td><p th:text="${person.getSurname()}"></p></td>
                <td><p th:text="${person.getAge()}"></p></td>
                <td><p th:text="${person.getEmail()}"></p></td>
                <td><p th:text="${person.getTel()}"></p></td>
                <td><p th:text="${person.getHealth_card_num()}"></p></td>
                <td><p th:text="${person.getFamily_doctor()}"></p></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" th:href="@{/resources/scroll.js}"></script>
<br/>
<hr th:class="new1"/>
<a href="/people/new">
    <button th:class="btn">Create a new patient</button>
</a>
</body>
</html>