<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <link th:href="@{/resources/styles.css}" rel="stylesheet" type="text/css">

</head>
<body>
<h1>All registered patients</h1>

<div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Email</th>
            <th>Tel</th>
            <th>HealthCard Num</th>
            <th>Family Doctor</th>
        </tr>
        </thead>
    </table>
</div>
<div class="tbl-content">
    <div th:each="person : ${people}">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
            <tr >
                <td><p th:text="${person.getId()}" ></p></td>
                <td><a th:href="@{/people/{id}(id=${person.getId()})}"
                       th:text="${person.getName()}">user</a></td>
                <td><p th:text="${person.getSurname()}"></p></td>
                <td><p th:text="${person.getAge()}"></p></td>
                <td><p th:text="${person.getEmail()}"></p></td>
                <td><p th:text="${person.getTel()}"></p></td>
                <td><p th:text="${person.getHealth_card_num()}"></p></td>
                <td><p th:text="${person.getFamily_doctor()}"></p></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" th:href="@{/resources/scroll.js}"></script>
<!--<div th:each="person : ${people}">-->
<!--    <a th:href="@{/people/{id}(id=${person.getId()})}"-->
<!--       th:text="${person.getId()-->
<!--       +','+person.getName()-->
<!--       +','+person.getAge()-->
<!--       +','+person.getEmail()}"-->
<!--    >user</a>-->
<!--</div>-->
<br/>
<hr th:class="new1"/>
<a href="/people/new">
    <button th:class="btn">Create a new person</button>
</a>
</body>
</html>


<!--    <h1>Fixed Table header</h1>-->
<!--    <div class="tbl-header">-->
<!--        <table cellpadding="0" cellspacing="0" border="0">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Code</th>-->
<!--                <th>Company</th>-->
<!--                <th>Price</th>-->
<!--                <th>Change</th>-->
<!--                <th>Change %</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--        </table>-->
<!--    </div>-->
<!--    <div class="tbl-content">-->
<!--        <table cellpadding="0" cellspacing="0" border="0">-->
<!--            <tbody>-->
<!--            <tr>-->
<!--                <td>AAC</td>-->
<!--                <td>AUSTRALIAN COMPANY </td>-->
<!--                <td>$1.38</td>-->
<!--                <td>+2.01</td>-->
<!--                <td>-0.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAD</td>-->
<!--                <td>AUSENCO</td>-->
<!--                <td>$2.38</td>-->
<!--                <td>-0.01</td>-->
<!--                <td>-1.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAX</td>-->
<!--                <td>ADELAIDE</td>-->
<!--                <td>$3.22</td>-->
<!--                <td>+0.01</td>-->
<!--                <td>+1.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>XXD</td>-->
<!--                <td>ADITYA BIRLA</td>-->
<!--                <td>$1.02</td>-->
<!--                <td>-1.01</td>-->
<!--                <td>+2.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAC</td>-->
<!--                <td>AUSTRALIAN COMPANY </td>-->
<!--                <td>$1.38</td>-->
<!--                <td>+2.01</td>-->
<!--                <td>-0.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAD</td>-->
<!--                <td>AUSENCO</td>-->
<!--                <td>$2.38</td>-->
<!--                <td>-0.01</td>-->
<!--                <td>-1.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAX</td>-->
<!--                <td>ADELAIDE</td>-->
<!--                <td>$3.22</td>-->
<!--                <td>+0.01</td>-->
<!--                <td>+1.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>XXD</td>-->
<!--                <td>ADITYA BIRLA</td>-->
<!--                <td>$1.02</td>-->
<!--                <td>-1.01</td>-->
<!--                <td>+2.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAC</td>-->
<!--                <td>AUSTRALIAN COMPANY </td>-->
<!--                <td>$1.38</td>-->
<!--                <td>+2.01</td>-->
<!--                <td>-0.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAD</td>-->
<!--                <td>AUSENCO</td>-->
<!--                <td>$2.38</td>-->
<!--                <td>-0.01</td>-->
<!--                <td>-1.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAX</td>-->
<!--                <td>ADELAIDE</td>-->
<!--                <td>$3.22</td>-->
<!--                <td>+0.01</td>-->
<!--                <td>+1.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>XXD</td>-->
<!--                <td>ADITYA BIRLA</td>-->
<!--                <td>$1.02</td>-->
<!--                <td>-1.01</td>-->
<!--                <td>+2.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAC</td>-->
<!--                <td>AUSTRALIAN COMPANY </td>-->
<!--                <td>$1.38</td>-->
<!--                <td>+2.01</td>-->
<!--                <td>-0.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAD</td>-->
<!--                <td>AUSENCO</td>-->
<!--                <td>$2.38</td>-->
<!--                <td>-0.01</td>-->
<!--                <td>-1.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAX</td>-->
<!--                <td>ADELAIDE</td>-->
<!--                <td>$3.22</td>-->
<!--                <td>+0.01</td>-->
<!--                <td>+1.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>XXD</td>-->
<!--                <td>ADITYA BIRLA</td>-->
<!--                <td>$1.02</td>-->
<!--                <td>-1.01</td>-->
<!--                <td>+2.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAC</td>-->
<!--                <td>AUSTRALIAN COMPANY </td>-->
<!--                <td>$1.38</td>-->
<!--                <td>+2.01</td>-->
<!--                <td>-0.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAD</td>-->
<!--                <td>AUSENCO</td>-->
<!--                <td>$2.38</td>-->
<!--                <td>-0.01</td>-->
<!--                <td>-1.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAX</td>-->
<!--                <td>ADELAIDE</td>-->
<!--                <td>$3.22</td>-->
<!--                <td>+0.01</td>-->
<!--                <td>+1.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>XXD</td>-->
<!--                <td>ADITYA BIRLA</td>-->
<!--                <td>$1.02</td>-->
<!--                <td>-1.01</td>-->
<!--                <td>+2.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAC</td>-->
<!--                <td>AUSTRALIAN COMPANY </td>-->
<!--                <td>$1.38</td>-->
<!--                <td>+2.01</td>-->
<!--                <td>-0.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAD</td>-->
<!--                <td>AUSENCO</td>-->
<!--                <td>$2.38</td>-->
<!--                <td>-0.01</td>-->
<!--                <td>-1.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAX</td>-->
<!--                <td>ADELAIDE</td>-->
<!--                <td>$3.22</td>-->
<!--                <td>+0.01</td>-->
<!--                <td>+1.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>XXD</td>-->
<!--                <td>ADITYA BIRLA</td>-->
<!--                <td>$1.02</td>-->
<!--                <td>-1.01</td>-->
<!--                <td>+2.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAC</td>-->
<!--                <td>AUSTRALIAN COMPANY </td>-->
<!--                <td>$1.38</td>-->
<!--                <td>+2.01</td>-->
<!--                <td>-0.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAD</td>-->
<!--                <td>AUSENCO</td>-->
<!--                <td>$2.38</td>-->
<!--                <td>-0.01</td>-->
<!--                <td>-1.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAX</td>-->
<!--                <td>ADELAIDE</td>-->
<!--                <td>$3.22</td>-->
<!--                <td>+0.01</td>-->
<!--                <td>+1.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>XXD</td>-->
<!--                <td>ADITYA BIRLA</td>-->
<!--                <td>$1.02</td>-->
<!--                <td>-1.01</td>-->
<!--                <td>+2.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAC</td>-->
<!--                <td>AUSTRALIAN COMPANY </td>-->
<!--                <td>$1.38</td>-->
<!--                <td>+2.01</td>-->
<!--                <td>-0.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAD</td>-->
<!--                <td>AUSENCO</td>-->
<!--                <td>$2.38</td>-->
<!--                <td>-0.01</td>-->
<!--                <td>-1.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>AAX</td>-->
<!--                <td>ADELAIDE</td>-->
<!--                <td>$3.22</td>-->
<!--                <td>+0.01</td>-->
<!--                <td>+1.36%</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>XXD</td>-->
<!--                <td>ADITYA BIRLA</td>-->
<!--                <td>$1.02</td>-->
<!--                <td>-1.01</td>-->
<!--                <td>+2.36%</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--</section>-->